Invalid user agent string

You are generating a grossly invalid user agent string.
My logs are showing the following: `keybase.io UserAgent v0.0.39`.
A valid user agent string would look like this: `keybase.io/0.0.39`.

See [RFC 2068, section 3.8](http://tools.ietf.org/html/rfc2068#section-3.8) (HTTP 1.1) and [RFC 1945, section 3.7](http://tools.ietf.org/html/rfc1945#section-3.7) (HTTP 1.0).
